.git
.github
.coverage
.testoutput
.idea
.vscode
*.md
!CLAUDE.md

# Large dirs not needed for build
docs
develop
docker
tests
temporaltest
k8s
scripts
tools/tdbg
tools/cassandra

# Binaries
tdbg
tasksd
temporal-cassandra-tool
temporal-sql-tool
temporal-elasticsearch-tool
