
!tools/testrunner/testdata/*.xml
.agents/
.bin/
.coverage
.DS_Store
.envrc
.idea/
.spr.yml
.stamp/
.testoutput
.tmp/
.vscode
.vscode/settings.json
*.code-workspace
*.cov
*.html
*.out
*.swp
*.test
*.xml
**/.ruff_cache/
**/.venv/
**/dist/
/*.iml
/dist
/fairsim
/proto.tmp
/proto/api.binpb
/proto/chasm.bin
/proto/image.bin
/tctl*
/tdbg
/temporal-*
/test.log
# api+google proto dependencies
# direnv
# Executables produced by temporal repo
# Git SPR: https://github.com/ejoffe/spr
# Goreleaser
# Ignoring AI agent files
# proto images
dist/
pkg/tasks/tasks-data/
tasksd
